

/* .carousel css */
.carousel-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 150px;
  }
  
  .carousel-control.next {
    right: 150px;
  }
  .center {
    
    display: flex;
    justify-content: center;
  }
  /* end .carousel */
  
  body
  {
background-color: #ffccff;

  }
  #header{

    border-style: solid;
    height: 40px;
    background-color: rgb(118, 56, 175);
    text-align: center;
    border-color: black;
    color: white;
    text-transform: capitalize;
}

.navbar{
  border: 2px; border-style: solid; height: 30px;   text-align: center;
     padding-top: 10px; padding-left: 10px;
     padding-bottom: 0px; 
     background-color: rgb(252, 74, 9); 
 }
 .navbar a{
  color: rgb(252, 251, 251);
  text-decoration: wavy;
  text-transform: capitalize;
   /* letter-spacing: 2px; */
  margin: 0 20px;
 }
 .container{
  display: flex;
  border: 2px; border-style: solid; height: 450px; 
 
 }
 .footer{
  margin-right: 0px;
  padding-top: 20px;
  letter-spacing: 1px;
  text-align: center;
  background-color :crimson;
 }

 
 
 .gallery
{
	float:left; padding: 10px;
	margin-top:10px;
	margin-left: 20px;  
	border: 1px solid red; 
	word-wrap:break-word;
	
}
.gallery img
{
  position:relative;
	width: 150px;
	
}